.game-card-container {
	position: relative;
	padding: 20px;
	top: 0px;
	display: inline-block;
	min-width: 300px;
	margin-top: 20px;
	margin-right: 50px;

	border-radius: 3px;
	transition: 0.3s;
	color: white;
	background-color: #202020;
}

.game-card-container:hover {
	cursor: pointer;
	min-width: 350px;
	background-color: #353535;
}

.game-card-container:hover .anim-rect {
	height: 100%;
	top: 0px !important;
}

.game-card-container:hover .anim-rect2 {
	height: 100%;
	bottom: 0px !important;
	transition-delay: 0.1s;
}

.game-card-container:hover .anim-rect3 {
	width: 100%;
	right: 0px !important;
	transition-delay: 0.15s;
}

.game-card-container:hover .anim-rect4 {
	width: 100%;
	right: 0px !important;
	transition-delay: 0.19s;
}

.game-image {
	position: relative;
	background-color: black;
	width: 100%;
	height: 375px;
	transition: 0.2s;
	background-position: center;
	background-size: cover;
}

.game-title-container {
	margin-top: 20px;
	font-weight: bold;
	font-size: 25px;
	font-family: "Poppins";
	color: white;
}

.bussiness-model {
	margin-top: 10px;
	font-family: "Poppins";
	font-size: 18px;
}

.game-tags-container {
	display: flex;
	margin-top: 20px;
}

.model-line {
	position: relative;
	width: 20px;
	height: 2px;
	margin-right: 5px;
	top: -3px;
	background-color: white;
	display: inline-block;
}

.game-tag {
	background-color: white;
	color: #2f3640;
	font-weight: 600;
	margin-right: 10px;
	padding: 5px 10px;
	font-family: "Open Sans";
	border-radius: 5px;
}

.moving-rects-container {
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.anim-rect {
	background-color: white;
	width: 2px;
	height: 60px;
	position: absolute;
	left: 0px;
	top: 0px;

	transition: 0.3s;
}

.anim-rect2 {
	background-color: white;
	width: 2px;
	height: 60px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	transition: 0.3s;
}
.anim-rect3 {
	background-color: white;
	width: 40px;
	height: 2px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	transition: 0.3s;
}
.anim-rect4 {
	background-color: white;
	width: 50px;
	height: 2px;
	position: absolute;
	left: 0px;

	top: 0px;
	transition: 0.3s;
}

@keyframes movingRect1 {
	from {
		height: 60px;
	}
	to {
		top: 90%;
		height: 100px;
	}
}

@keyframes movingRect2 {
	from {
		top: 0px;
		height: 60px;
	}
	to {
		top: 80%;
		height: 130px;
	}
}
