body {
	background-color: #202020;
}

.game-details-container {
	position: relative;
	background-color: #202020;
	width: 100%;
	height: 1000px;

	padding-top: 1px;
}

.game-details-wrapper {
	position: relative;
	width: 95%;
	background-color: #202020;
	height: 100%;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	top: 50%;
	transform: translateY(-50%);
}

.center-all {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
	width: 10px;
	height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #95a5a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
