body {
}

.game-details-container {
	position: relative;

	width: 100%;
	height: 1000px;

	padding-top: 1px;
}

.game-details-wrapper {
	position: relative;
	width: 98%;
	height: 100%;
}

.center-x {
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	top: 50%;
	transform: translateY(-50%);
}

.center-all {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
